@model IEnumerable<XenaBudgetManager.Models.Fiscal>

@{
    ViewBag.Title = "Virksomheder";
}

<h2>Virksomheder</h2>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Images/avatar-company-xena.jpg" />
            @Html.ActionLink(item.FiscalSetupName, "SetFiscalAndUser", new { item.FiscalID, item.FiscalSetupName })
        </td>
    </tr>
}

</table>
