
@{
    ViewBag.Title = "Xena Budget Manager";
}

<div class="row">
    <div class="col-md-10">
        <h2>Velkommen til Xena's Budget Manager</h2>
        <br />
        <p>Her kan du oprette budgetter til dine virksomheder's regnskaber.</p>
        <br />
        <p>Men før du kan noget, må du lige logge ind først, du skal bruge dit Xena Login.</p>
        <br />
        <p>God fornøjelse med Xena Budget Manager,</p>
        <p>MVH. Team Smoker.</p>
    </div>
</div>

@*Debug*@
<div class="row">
    <div class="col-md-10">
        <br />
        <h2>Token:</h2>
        <p>@ViewBag.Token</p>
        <p><a class="btn btn-default" href="http://localhost:1337/home/debug/">Debug!</a>
        </p>
    </div>
</div>