<div class="jumbotron">
    <h1>XENA BUDGET MANAGER</h1>
    <p class="lead">Blah blah blah...</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Velkommen til Xena's Budget Manager skrevet af Team Smoker</h2>
        <p>
            Mere blah blah blah...
        </p>
        <p><a class="btn btn-default" href="#">Link!</a></p>
    </div>
</div>

@*Debug*@
<div class="jumbotron">
    <h1>TOKEN:</h1>
    <p class="lead">@ViewBag.Token</p>
    <p><a class="btn btn-default" href="http://localhost:1337/home/debug/">Debug!</a></p>
</div>

@*Test DB connection*@
<div class="jumbotron">
    
        @Html.ActionLink("Test DB", "DBTEST", "Home")
</div>