<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fejl</title>
</head>
<body>
    <hgroup>
        <h1>Fejl.</h1>
        <h2>En fejl opstod under behandlingen af din anmodning.</h2>
    </hgroup>
</body>
</html>
